.news{
  background: inherit;
}

.cell{
  float: left;
  width: 100%;
  background: inherit;
}

.item{
  padding: 1.5rem 0 1.5rem;
  background: inherit;
  border-bottom: 1px solid $c-secondary;
}

.item__title{
  float: left;
  font-size: $f-title-size-mobile;
  color: $c-title;
  &:active, &:visited{
    color: $c-title;
  }
}

.item__header{
  line-height: 1.4rem;
  padding-bottom: 0.3rem;
}

.item__date{
  float: right;
  font-size: $f-base-size-mobile;
  color: $c-secondary;
  vertical-align: bottom;
}

.item__content{
  padding: 0.3rem 0;
  font-size: $f-base-size-mobile;
  color: $c-primary;
}