@font-face {
  font-family:'Circe-Regular';
  src:url(../../fonts/Circe/CRC35.otf);
  font-weight:400;
  font-style:normal;
}
@font-face {
  font-family:'Circe-Light';
  src:url(../../fonts/Circe/CRC25.otf);
  font-weight:300;
  font-style:normal;
}
@font-face {
  font-family:'Circe-Bold';
  src:url(../../fonts/Circe/Circe-Bold.otf);
  font-weight:700;
  font-style:normal;
}

@font-face {
  font-family:'Circe-ExtraBold';
  src:url(../../fonts/Circe/Circe-ExtraBold.otf);
  font-weight:700;
  font-style:normal;
}
