html{
  font-size: 62.5%;
}

body{
  width: 100%;
  background: $c-body;
}

.body-wrapper{
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2.5rem;
  font-family: $f-primary;
  line-height: $f-base-lh;
}

.body-inner{
  padding: 0.5rem 1rem 2rem;
  background: $c-inner;
  box-shadow: 0 0 40px 10px rgba(0,0,0,0.8);
  @media (min-width: $tablet) {
    padding: 5rem 3rem;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-hidden {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.link-animated{
  transition: all 0.4s ease;
  &:active {
    opacity: 0.5;
  }
}


