* {
  box-sizing: border-box;
}

// Защита от переполнения
img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  max-width: 100%;
  height: auto;
}

// Обнуление отступов по умолчанию у списков
ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style-position: inside;
}

p {
  margin: 0;
}

button {
  @extend .link-animated;
  display: block;
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  &:hover,
  &:active{
    outline: none;
  }
}

a {
  @extend .link-animated;
  display: block;
  color: inherit;
  text-decoration: none;
  &:hover, &:focus, &:active, &:visited{
    text-decoration: none;
  }
  &:visited{
    color: inherit;
  }
}

input {
  border: none;
  &:hover,
  &:active{
    outline: none;
  }
}

address{
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}