$icons: (
        sprite: (width: 1294px, height: 1383px, svgPath: '../img/sprite.svg'),
        close-button: (width: 37px, height: 36px, backgroundX: 0px, backgroundY: 0px),
        close-button_: (width: 37px, height: 36px, backgroundX: -47px, backgroundY: -46px),
        cs: (width: 50px, height: 7px, backgroundX: -94px, backgroundY: -92px),
        cs_: (width: 50px, height: 7px, backgroundX: -154px, backgroundY: -109px),
        discount-area-decor: (width: 408.22px, height: 612.91px, backgroundX: -214px, backgroundY: -126px),
        fb: (width: 44px, height: 44px, backgroundX: -633px, backgroundY: -749px),
        fb_: (width: 41px, height: 41px, backgroundX: -687px, backgroundY: -803px),
        icon-pdf: (width: 86px, height: 96px, backgroundX: -738px, backgroundY: -854px),
        icon-pdf_: (width: 86px, height: 96px, backgroundX: -834px, backgroundY: -960px),
        indicator: (width: 21px, height: 2px, backgroundX: -930px, backgroundY: -1066px),
        indicator-active: (width: 22px, height: 2px, backgroundX: -961px, backgroundY: -1078px),
        insta: (width: 44px, height: 44px, backgroundX: -993px, backgroundY: -1090px),
        insta_: (width: 41px, height: 41px, backgroundX: -1047px, backgroundY: -1144px),
        menu-close: (width: 30px, height: 30px, backgroundX: -1098px, backgroundY: -1195px),
        menu-icon: (width: 38px, height: 30px, backgroundX: -1138px, backgroundY: -1235px),
        vk: (width: 44px, height: 44px, backgroundX: -1186px, backgroundY: -1275px),
        vk_: (width: 44px, height: 44px, backgroundX: -1240px, backgroundY: -1329px),
);