$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;

$paragraph-height-mobile: 5.1rem;
$paragraph-height: 7.2rem;

$f-primary: Arial, sans-serif;

$f-title-size-mobile: 1.4rem;
$f-base-size-mobile: 1.0rem;

$f-title-size: 1.7rem;
$f-base-size: 1.2rem;

$f-base-lh: 1.5;

$c-body: navy;
$c-inner: white;
$c-primary: black;
$c-secondary: lightgrey;
$c-title: steelblue;