$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;


$f-primary: Arial, sans-serif;

$f-title-size: 2rem;
$f-primary-size: 1.25rem;

$f-base-lh: 1.5;

$c-body: navy;
$c-inner: white;
$c-primary: black;
$c-secondary: lightgrey;
$c-title: steelblue;