doctype html

head
    meta(charset='UTF-8')
    title Test
    link(href="css/main.min.css", rel="stylesheet", type="text/css")

body
    .body-wrapper
        .body-inner
    script(src="js/main.min.js")