doctype html

head
    meta(charset='UTF-8')
    title Test
    link(href="css/main.min.css", rel="stylesheet", type="text/css")

body
    .body-wrapper
        .body-inner
            ul.news.clearfix
                .cell
                    - var title = 'Итоги сезона'
                    - var date = "3 июля 2017"
                    - var imgsrc = "img/football-1.jpg"
                    - var content = "Не хотелось бы выбирать между Азаром и Канте. Они оба заслуживают лучшего, потому что проводят прекрасный сезон"
                    include item
                .cell
                    - var title = 'Победа российского бойца'
                    - var date = "1 июля 2017"
                    - var imgsrc = "img/boxing.jpg"
                    - var content = "Российский боец смешанных единоборств Александр Волков победил американца Роя Нельсона в своем втором бою в Абсолютном бойцовском чемпионате (UFC)."
                    include item
                .cell
                    - var title = 'Чемпион кубка'
                    - var date = "5 июля 2017"
                    - var imgsrc = "img/winners.jpg"
                    - var content = "Новая Зеландия досрочно стала чемпионом Кубка Четырех Наций 2016."
                    include item
                .cell
                    - var title = 'Чемпионат мира по Dota 2'
                    - var date = "5 июля 2017"
                    - var imgsrc = "img/dota.jpg"
                    - var content = "Финал чемпионата мира по Dota 2 поставил рекорд по числу зрителей."
                    include item
                .cell
                    - var title = 'Петербургский полумарафон'
                    - var date = "9 июля 2017"
                    - var imgsrc = "img/run.jpg"
                    - var content = "Организация «Петербургского полумарафона»: безответственно, некачественно и непрофессионально"
                    include item
                .cell
                    - var title = 'Рекорд по количеству мячей'
                    - var date = "9 июля 2017"
                    - var imgsrc = "img/football-2.jpg"
                    - var content = "Смолов установил рекорд «Краснодара» по количеству мячей в одном чемпионате"
                    include item

    script(src="js/main.min.js")