doctype html

head
    meta(charset='UTF-8')
    title Test
    link(href="css/main.min.css", rel="stylesheet", type="text/css")

body
    .body-wrapper
        .body-inner
            ul.news.clearfix
                - var title = 'Победа российского бойца'
                - var date = "1 июля 2017"
                include item
    script(src="js/main.min.js")