li.item
    header.item__header.clearfix
        a.item__title(href="#")= title
        a.item__date(href="#")= date
    img(class="item__img" src="img/boxing.jpg")
    p(class="item__content").
        Российский боец смешанных единоборств
        Александр Волков победил американца Роя
        Нельсона в своем втором бою в Абсолютном бойцовском чемпионате (UFC).